---
---
<!DOCTYPE html>
<html>
  <head>
    {% include barehead.html %}
    <link rel="stylesheet" href="{{ "/css/about.css" | prepend: site.baseurl }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.5/trianglify.min.js"></script>
  </head>
  <body>
    <nav id="toc">
    </nav>
    <main id="slides">
      <h1 class="slide" id="title">{{ page.title }}</h1>
      {{ content }}
    </main>
    <script>
      // scroll later to url defined slide on load
      var initialSlideId = location.hash;
      // store slides to object
      var slides = {
        ids: [],
        getByIndex: function(slideIndex) { return slides[slides.ids[slideIndex]]; }
      };
      (function(){
        // create TOC
        var toc = document.createElement('ul'),
          tocLinkClick = function(e) {
            e.preventDefault();
            showSlide(e.target.getAttribute('href'));
          };
        // background generation
        var t = new Trianglify(), scrHeight = screen.height, scrWidth = screen.width;
        // iterate slides
        var slidesList = document.getElementsByClassName('slide');
        for (var slideIndex = 0; slideIndex < slidesList.length; slideIndex++) {
          var slide = slidesList[slideIndex], slideId = slide.id;
          slides[slideId] = {element: slide}; //, index: slideIndex};
          slides.ids.push(slideId);
          // TOC elements
          var tocLink = document.createElement('a');
          tocLink.appendChild(document.createTextNode(slideId));
          tocLink.setAttribute('href', '#' + slideId);
          tocLink.onclick = tocLinkClick;
          var tocItem = document.createElement('li');
          tocItem.id = 'toc_' + slideId;
          tocItem.appendChild(tocLink);
          toc.appendChild(tocItem);
          // generate background
          var pattern = t.generate(scrWidth, scrHeight);
          slide.setAttribute('style', 'background-image: ' + pattern.dataUrl);
        };
        document.getElementById('toc').appendChild(toc);
      })();
      // animated scroll to slide
      var showSlide = function(slideId) {
        slideId = slideId.substring(1);
        var start = window.scrollY, change = slides[slideId].fixedPosition - start,
          currentTime = 0, increment = 20, duration = 1250;
        var animateScroll = function() {
          var easeInOutQuad = function (t, b, c, d) {
            t /= d/2; if (t < 1) return c/2*t*t + b;
            t--; return -c/2 * (t*(t-2) - 1) + b;
          };
          currentTime += increment;
          window.scrollTo(window.scrollX,
            easeInOutQuad(currentTime, start, change, duration));
          if (currentTime < duration) { setTimeout(animateScroll, increment); };
        };
        animateScroll();
      };
      // calculate positions
      var calcPositions = function() {
        if (slides.slideHeight != window.innerHeight) {
          slides.slideHeight = window.innerHeight;
          slides.invisiblePosition = -(slides.slideHeight + 100);
          slides.totalHeight = slides.slideHeight * slides.ids.length;
          var tocSwitchOffset = slides.slideHeight * 0.2;
          for (var slideIndex = 0; slideIndex < slides.ids.length; slideIndex++) {
            var slideObject = slides.getByIndex(slideIndex);
            slideObject.fixedPosition = slides.slideHeight * slideIndex;
            slideObject.topPosition = slideObject.fixedPosition - tocSwitchOffset;
            slideObject.bottomPosition = slideObject.topPosition + slides.slideHeight;
          };
          fixPositions();
        };
      };
      // slides repositioning
      var fixPositions = function() {
        var currentPosition = window.scrollY;
        if (currentPosition >= 0 && currentPosition < slides.totalHeight) {
          for (var slideIndex = 0; slideIndex < slides.ids.length; slideIndex++) {
            var slideObject = slides.getByIndex(slideIndex),
              slide = slideObject.element,
              slideId = slide.id,
              slideStyle = slide.style;
            var styleTop = 0;
            if (slideObject.fixedPosition <= currentPosition) {
              styleTop = Math.max(slideObject.fixedPosition - currentPosition,
                slides.invisiblePosition);
            };
            styleTop += 'px';
            // change only when not the same, to avoid dozens recalcs
            if (slideStyle.top != styleTop ) { slideStyle.top = styleTop; };
            // illuminate TOC item
            var tocItem = document.getElementById('toc_' + slideId);
            if (currentPosition >= slideObject.topPosition && currentPosition < slideObject.bottomPosition) {
              tocItem.classList.add('active');
              // set url
              history.replaceState('', '', '#' + slideId);
            } else {
              tocItem.classList.remove('active');
            };
          };
        };
      };
      // initially
      calcPositions(); // calls fixPositions inside
      // handlers
      window.onresize = calcPositions;
      window.onscroll = fixPositions;
      // initial scroll
      if (initialSlideId) {
        if (document.getElementById(initialSlideId)) { showSlide(initialSlideId); };
      };
    </script>
  </body>
</html>
